<a href="https://colab.research.google.com/github/truffleToast/DeepLearning/blob/main/EX00_%EB%94%A5%EB%9F%AC%EB%8B%9D_%EB%A7%9B%EB%B3%B4%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 단축키
- 실행단축키
  - CTRL + ENTER :실행 후 커서가 그대로 위치
  - SHIFT + ENTER : 실행 후 커서가 아래 셀로 이동
  - ALT + ENTER : 실행 후 아래 셀 생성 아래

- 마크다운 변환 (코드 -> 텍스트)
  - CTRL + M + M
- 코드셀로 변환 (텍스트 -> 코드)
  - CTRL + M + Y

  셀 아래 추가하기
  - CTRL +M + B
  셀 위에 추가하기
  - CTRL +M + A

### 딥러닝 맛보기
- 딥러닝이란?
  - 인간의 신경망을 모방하여 학습하고 예측하는 기술
  - 대량의 데이터에서 복잡한 패턴이나 규칙을 찾아내는 능력이 뛰어나다
  - 머신러닝에 비해 조금 더 유연한 사고를 가진다
  - 인간의 뉴련 == 딥러닝에서 선형모델
  - 주로, 영상, 음성, 이미지 처리에 사용된다

-TENSORFLOW
  -구글이 만든 딥러닝을 위한 라이브러리

-KERAS
  - tensorflow 위에서 동작하는 라이브러리로 사용자 친화적 라이브러리

In [4]:
import tensorflow as tf
print(tf.__version__)
# 2.13.0
# 프로젝트 진행시 오픈소스를 가져다 쓸 때 충돌방지

2.13.0

In [8]:
#리눅스 명령어를 사용해서 현재 작업 디렉토리 확인
!pwd # print work directory

/content

In [11]:
%cd '/content/drive/MyDrive/Colab Notebooks/deepLearning'

/content/drive/MyDrive/Colab Notebooks/deepLearning

In [12]:
!pwd

/content/drive/MyDrive/Colab Notebooks/deepLearning

### 우리의 목표
- 공부시간에 따른 수학성적을 예측하는 회귀모델을 만들어보자
- Keras를 활용해서 신경망 구성하는 방법을 연습해보자

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
data =pd.read_csv("./data/student-mat.csv", delimiter=";")

In [17]:
data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,5,5,4,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,5,5,3,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,3,3,3,5,5,8,9,9

In [24]:
#데이터 정보확인
data.info

<bound method DataFrame.info of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]>

### 문제와 답으로 분리하기
- 입력특성 : 1개 (studytime)
- 정답 : G3

In [38]:
X= data['studytime']

In [39]:
y= data['G3']

In [40]:
from sklearn.model_selection import train_test_split

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X,y , random_state= 915, test_size =0.2)

In [43]:
X_train.shape ,y_train.shape

((316,), (316,))

In [45]:
X_test.shape, y_test.shape

((79,), (79,))